.app-wrapper {
    display: grid;
    margin: 0 auto;

    grid-template-areas: "h h" "n c" "f f";
    grid-template-rows: 60px 1fr;
    grid-template-columns:2fr 10fr;
}



.footer {
    grid-area: f;
    background-color: blueviolet;
}