
.nav {
    grid-area: n;
    background-color: coral;
    padding: 20px;
}

.item a{
    color: white;
    text-decoration: none;
}

a.activeLink {
    color: black;
}

.nav:nth-child(1){
    margin-bottom: 20px;
}


.friends{

}